useDynLib("triplex")

import(methods)
import(grid)
import(XVector)
import(IRanges)
import(Biostrings)
import(GenomicRanges)

exportClasses(
	TriplexViews
)

export(
	triplex.search,
	triplex.diagram,
	triplex.3D,
	triplex.alignment
)

exportMethods(
	show, score, pvalue, ins,
	type, lstart, lwidth, lend, strand,
	as.character, toString, "["
)
